<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/199/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FideFlights</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <section th:replace="~{reservas/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{reservas/fragmentos :: agregarVuelo}"/>
        <section th:replace="~{reservas/fragmentos :: listadoVuelos}"/>
         
         <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
